.container { 
    padding: 10px;
    padding-top: 100px;
}
.header {
    font-size: 40px;
    color: var(--text);
    font-weight: 600;
}

.recentProjectSection {
    margin-top: 60px;
}
.subHeader {
    font-family: var(--code-font);
    color: var(--secondary);
    font-size: 24px;
    font-weight: normal;
    margin-left: 20px;
}
.recentProjectContainer {
    display: grid;
    gap: 20px;
    grid-template-columns: 100%;
    padding: 20px;
}

@media (min-width: 576px) {
    .recentProjectContainer {
        grid-template-columns: 50% 50%;
    } 
}

@media (min-width: 768px) {
    .header {
        font-size: 48px;
        color: var(--text);
    }
}

@media (min-width: 992px) {
    .recentProjectContainer {
        grid-template-columns: 33.34% 33.33% 33.33%;
    } 
}

@media (min-width: 1200px) {
 
}

@media (min-width: 1400px) {
    
}