.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--background-dark);
    color: var(--text);
    padding: 10px;
    border-radius: var(--border-radius);
}

.projectTitle {
    font-size: 24px;
}
.projectStack {
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;    
}
.projectStack span {
    margin-right:10px;
    margin-bottom: 5px;
    font-family: 'Cousine', monospace;
    font-size: 12px;
    color: #c4c4c4;
}
.projectDescription {
    flex: 1;
    margin: 10px 0px;
}
.projectLinks {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.projectLinks a {
    margin-right: 10px;
}