.container {
    min-height: 100vh;
    padding: 16px;
    width: 100%;
    padding-top: 40px;
}
.heading {
    font-family: var(--code-font);
    margin-top: 16px;
    font-size: 32px;
    color: var(--secondary);
    font-weight: normal;
}
.certificatesGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 16px;
    margin-top: 16px;
}

.certificate {
    padding: 16px;
    border-radius: var(--border-radius);
    background-color: var(--background-dark);
}
.certificateImage {
    height: auto;
    width: 100%;
    object-fit: "cover";
}
.certificateTitle {
    font-size: 24px;
    color: var(--text);
    font-family: var(--primary-font);
}

.description {
    font-weight: normal;
    color: var(--text);
    margin: 8px 0;
    font-size: 16px;
}

.certificateIssuer,
.certificateExpires,
.certificateEarned {
    margin: 4px 0;
    color: #c4c4c4;
    font-size: 12px;
}
.certificateIssuer a,
.certificateEarned span,
.certificateExpires span {
    font-family: var(--code-font);
    color: var(--secondary);
    cursor: pointer;
}
.paragraph {
    margin-top: 5px;
    max-width: 540px;

    color: var(--text);
}

.image {
    max-width: 300px;
    width: 100%;
    object-fit: contain;
    border-radius: var(--border-radius);
}

@media (min-width: 576px) {
    .heading {
        font-size: 32px;
    }
    .certificatesGrid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
    }
}

@media (min-width: 992px) {
    .heading {
        font-size: 32px;
    }
    .certificatesGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
}
