.container {
    width: 100%;
    margin: 20px 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.reverse {
    align-items: flex-start;
    flex-direction: column;
}

.imageContainer {
    max-width: 500px;
    position: relative;
    flex: 1;
    margin: 20px;
}

.image {
    width: 100%;
    height: 100%;
    transform: rotate(2deg);
}

.imageBackground {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-low-opacity);
    transform: rotate(-6deg);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:var(--text);
    flex: 1;
    padding: 10px;
}

.projectTitle {
    font-size: 32px;
    font-weight: 500;
}
.projectStack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;    
}
.projectStack span {
    margin-right:10px;
    margin-top: 5px;
    font-family: var(--code-font);
    font-size: 14px;
    color: #c4c4c4;
}


.projectDescription {
    flex-grow: 1;
    margin-top: 10px;
}

@media (min-width: 576px) {
    .projectTitle {
        font-size: 40px;
        font-weight: 500;
    }
}

@media (min-width: 992px) {
    .container {
        margin: 20px;
        flex-direction: row;
        align-items: flex-start;
    }
    .reverse {
        flex-direction: row-reverse;
    }
}

