.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100vw;
    background-color:chocolate;
    z-index: 10;
}

.sections { 
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 20px;
}
.sections p {
    padding: 10px;
    font-family: 'Albert Sans', sans-serif;
}
.sections p span {
   font-family: 'Cousine', monospace;;
}