.rightSide {
    min-width: 70px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.rightSide span {
    position: fixed;
    writing-mode: vertical-rl;
    text-orientation:sideways;
    color: transparent;
    letter-spacing: 5px;
    font-size: 44px;
    font-weight: 900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--secondary);
}