.container {
    min-height:100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.heading {
    font-family: var(--code-font);
    margin-top: 16px;
    font-size: 32px;
    color: var(--secondary);
    font-weight: normal;
}
.paragraph {
    margin-top: 5px;
    max-width: 540px;
    font-size: 20px;
    color: var(--text);
}

.image {
    max-width: 300px;
    width: 100%;
    border-radius: var(--border-radius);
}

@media (min-width: 992px) {
    .container {
        flex-direction: row;
    }
    .heading {
        font-size: 32px;
    }
    .paragraph {
        margin-top: 40px;
        max-width: 500px;
    } 
    .image {
        max-width: 250px;
    }   
}

@media (min-width: 1200px) {
    .paragraph {
        max-width: 540px;
    }  
    .image {
        max-width: 300px;
    }
}
