.container {
    min-height: calc(90vh - 70px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

p.codeLine {
    font-family: var(--code-font);
    margin-top: 16px;
    font-size: 24px;
    color: var(--secondary);
}
p.nameLine {
    font-weight: bold;
    font-size: 64px;
    color: var(--primary);
    background: -webkit-linear-gradient(135deg, #d1831e 60%, var(--secondary));
    background-clip:content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p.workLine {
    font-weight: bold;
    font-size: 48px;
    color: var(--accent);

}
.brief {
    margin-top: 40px;
    max-width: 540px;
    font-size: 20px;
    color: var(--text);
}


@media (min-width: 992px) {
    p.codeLine {
        font-size: 24px;
    }
    p.nameLine {
        font-size: 72px;
    }
    p.workLine {
        font-size: 56px;
    }
    .brief {
        font-size: 24px;
    }
}

@media (min-width: 1400px) {
    p.codeLine {
        font-size: 32px;
    }
    p.nameLine {
        font-size: 80px;
    }
    p.workLine {
        font-size: 64px;
    }
    .brief {
        font-size: 32px;
        max-width: 772px;
    }
}
