.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100vw;
}

.sections { 
    display: flex;
    justify-content: space-between;
}
.sections h6 {
    padding: 10px;
    font-family: 'Albert Sans', sans-serif;
}
.sections h6 span {
   font-family: 'Cousine', monospace;;
}