.container {
    min-height: 100vh;
    display: flex;
    align-items: "flex-start";
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

p.codeLine {
    font-family: 'Cousine', monospace;
    margin-top: 16px;
    font-size: 24px;
}
p.nameLine {
    font-weight: bold;
    font-size: 48px;
}
p.workLine {
    font-weight: bold;
    font-size: 42px;
}
.brief {
    margin-top: 40px;
    max-width: 540px;
    font-size: 24px;
}