/* Global Styles */
*{
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --primary: #1460b8;
    --secondary:#28bebd;
    --accent:#3885ba;
    --text: #fdfdfd;
    --background: #131224;
    --border-radius: 2px;

    
}

body {
    font-family: 'Albert Sans', sans-serif;
    background-color: var(--background);
}

html {
    scrollbar-color: var(--secondary) var(--background);
    scrollbar-width: thin;
}

body::-webkit-scrollbar {
    width: 10px;
  }
body::-webkit-scrollbar-track {
    background: var(--background);
  }
body::-webkit-scrollbar-thumb {
    background: var(--secondary);
}