/* Global Styles */
*{
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --primary: #1460b8;
    --secondary:#28bebd;
    --accent:#3885ba;
    --text: #fdfdfd;
    /* --background: #202125; */
    --background: #131224;
    --border-radius: 2px;

    
}

body {
    font-family: 'Albert Sans', sans-serif;
    background-color: var(--background);
}
