/* Global Styles */
*{
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --primary: #1460b8;
    --secondary:#28bebd;
    --secondary-low-opacity: #28bebda9;
    --accent:#3885ba;
    --text: #fdfdfd;
    --background: #131224;
    --background-dark: #0f0e1d;
    --border-radius: 2px;
    --code-font: 'Cousine', monospace;
    --primary-font : 'Albert Sans', sans-serif;

    
}

body {
    font-family: var(--primary-font);
    background-color: var(--background);
}

html {
    scrollbar-color: var(--secondary) var(--background);
    scrollbar-width: thin;
}

body::-webkit-scrollbar {
    width: 7px;
  }
body::-webkit-scrollbar-track {
    background: var(--background);
  }
body::-webkit-scrollbar-thumb {
    background: var(--secondary);
}