.container {
    margin-top: 40px;
    padding: 10px;
}

.header {
    font-size: 40px;
    color: var(--text);
}
.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.phrase {
    font-family: var(--code-font);
    font-size: 20px;
    color: var(--secondary);
    margin-top:5px;
    margin-left: 10px;

}

.form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding:10px;
    width: 100%;
    max-width: 600px;
}

.formField {
    width: 100%;
    margin: 10px 0px;
}
.formField p {
    margin-bottom: 5px;
    color: var(--text);
    font-size: 16px;
}

.formField input,.formField textarea {
    width: 100%;
    font-family: var(--primary-font);
    padding: 5px 10px;
    font-size: 16px;
    background-color: var(--background-dark);
    color: var(--text);
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-low-opacity);
    outline: none;
}
.formField input:focus-visible, .formField textarea:focus-visible {
    border: 1px solid var(--secondary);

}
.formField textarea {
    resize: vertical;
}

.submitBtn {
    padding: 10px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: var(--secondary);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}
.submitBtn svg {
    margin-left: 5px;
}

@media (min-width: 768px) {
    .contentContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header {
        font-size: 48px;
        color: var(--text);
    }    
    .phrase {
        max-width: 30%;
        font-size: 24px;
    }    
}


@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}

@media (min-width: 1400px) {
    
}